# Python
__pycache__/
*.py[cod]
*.pyd
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# Large datasets
dataset/raw/
dataset/processed/
dataset/train/
dataset/val/
dataset/test/

# Generated outputs
outputs/
reports/generated/

# Model checkpoints
checkpoints/*.pth
checkpoints/*.pt
checkpoints/*.bin
checkpoints/*.safetensors

# Local secrets
.env
*.key
*.pem

# Streamlit
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/